<?xml version="1.0" encoding="UTF-8"?>

<plugin  xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="usb-serial"
    version="0.0.01">
    <name>Serial</name>
    <description>Cordova plugin to communicate with the android USB serial port</description>
    <license>MIT</license>
    <keywords>serial,arduino</keywords>

    <!-- js module -->
    <js-module src="www/serial.js" name="serial">
        <clobbers target="serial" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Serial">
                <param name="android-package" value="com.biozoom.serial.Serial"/>
            </feature>
        </config-file>
        <source-file src="src/android/Serial.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/SerialService.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/SerialListener.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/SerialSocket.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/SerialInputOutputManager.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/UsbSerialPort.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/utils/Constants.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/utils/HexDump.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/utils/MonotonicClock.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/utils/UsbId.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/utils/UsbUtils.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/driver/CommonUsbSerialPort.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/driver/CdcAcmSerialDriver.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/driver/Cp21xxSerialDriver.java" target-dir="src/com/biozoom/serial/" />
        <source-file src="src/android/driver/UsbSerialDriver.java" target-dir="src/com/biozoom/serial/" />
    </platform>
</plugin>